<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BuildshipImport -->
      <package
            uri="http://www.hkneissel.de/oomph/buildshipimport/1.0"
            class="de.hkneissel.oomph.buildshipimport.BuildshipImportPackage"
            genModel="model/BuildshipImport.genmodel"/>
   </extension>

</plugin>
